body {
    padding: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../image/bgbg.png);

}

* {
    font-family: glossyRegular;
    outline: none;

}

.container_ho_on {
    border: 5px solid #f8dcff;
    box-shadow: 0px 0px 36px -7px rgba(255, 52, 223, 0.8);
    -webkit-box-shadow: 0px 0px 36px -7px rgba(255, 52, 223, 0.8);
    -moz-box-shadow: 0px 0px 36px -7px rgba(255, 52, 223, 0.8);
    border-radius: 20px;
    background-image: url(../image/bgg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1216px;
    height: 684px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.container_ho_on .addPlayerBackground>#close {
    position: absolute;
    right: 9vw;
    cursor: pointer;
    color: #4C00AC;

}

.container_ho_on .addPlayerBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(113, 113, 113, 0.47);
    backdrop-filter: blur(25px);
}

.container_ho_on .addPlayerContainer {
    background-image: url(../image/addContainer.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 700px;
    height: 165px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container_ho_on .addPlayerContainer input {
    width: 250px;
    height: 55px;
    border-radius: 100px;
    border: 5px solid #A829BD;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding: 0px 50px;
    outline: none;
}

.container_ho_on .addPlayerContainer button {
    background-color: white;
    border: 0px;
    width: 169px;
    height: 55px;
    transition: .33s;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0px 0px 36px -7px rgba(255, 52, 223, 0.8);
    -webkit-box-shadow: 0px 0px 36px -7px rgba(255, 52, 223, 0.8);
    -moz-box-shadow: 0px 0px 36px -7px rgba(255, 52, 223, 0.8);
    background-image: url(../image/add2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container_ho_on .addPlayerContainer button:hover {
    box-shadow: 0px 0px 36px -7px rgba(255, 207, 248, 0.8);
    -webkit-box-shadow: 0px 0px 36px -7px rgba(255, 207, 248, 0.8);
    -moz-box-shadow: 0px 0px 36px -7px rgba(255, 207, 248, 0.8);
}

.container_ho_on .left table {
    padding: 50px 20px;
    /* background-image: url(../image/playersTable.png); */
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #DDAEF7;
    box-shadow: 
        inset 0px 11px 0px 0px #E9C3FF,
        inset 0px -11px 0px 0px #CD7BFB; 
    border-radius: 40px;
    width: 330px;
    height: 448px;
    text-align: center;
    position: relative;
    z-index: 99;
}

.container_ho_on .left table thead {
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.container_ho_on .left table tbody tr {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.container_ho_on .left table tbody {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.container_ho_on .deletePlayer {
    color: red;
    cursor: pointer;
}

.container_ho_on .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_ho_on .right>h1 {
    font-size: 22px;
}

.container_ho_on .hostoperation {
    width: 357px;
    height: 200px;
    background-image: url(../image/hostoperation.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.container_ho_on select {
    height: 30px;
    border-radius: 100px;
    border: 2px solid #4C00AC;
    text-align: center;
}

.container_ho_on .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container_ho_on .buttons img {
    cursor: pointer;
    width: 120px;
}

.container_ho_on .hostoperation p {
    margin: 10px;
}

.container_ho_on .hostoperation div {
    margin-bottom: 10px;
}

.container_ho_on .addPlayerBackground {
    /* animation: slideIn .5s cubic-bezier(0.19, 1, 0.22, 1); */
    transition: all .5s;
}

@keyframes slideIn {
    0% {
        translate: -100% 0%;
    }

    100% {
        translate: 0% 0%;
    }
}