body{
    overflow: hidden;
    padding: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../image/bgbg.png);
}
#test {
    font-size: 200px;
}
#list {
    position: relative;
}
.slid-r{
    transition: .33s ease-out;
}
.slid-r:hover {
    padding-left: 20px;
}
.container_lobby {
    overflow: hidden;
    border: 5px solid #f8dcff;
    box-shadow: 0px 0px 36px -7px rgba(255,52,223,0.8);
    -webkit-box-shadow: 0px 0px 36px -7px rgba(255,52,223,0.8);
    -moz-box-shadow: 0px 0px 36px -7px rgba(255,52,223,0.8);
    border-radius: 20px;
    background-image: url(../image/bgg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 95%;
    height: 684px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: glossyRegular;
    position: relative;
    padding: 0px 100px;
}
/*  */
/* .left {
    display: none;
}
.right {
    display: none;
} */

.container_lobby .right {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    
}
.container_lobby .left {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    
}
.container_lobby .left img {
    width: 400px;
}
.container_lobby .left>div {
    display: flex;
    flex-direction: column;  
}
.container_lobby .center {
    transition: .3s;
    margin: 0px 0px;
}
.container_lobby .left>div a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin: 0;
}
.container_lobby #list p {
    cursor: pointer;
    margin: 0px;
    font-size: 40px;

}
/*  */
.container_lobby #pfp-card {
    margin-top: 100px;
    width: 300px;
    height: 200px;
    background-color: #DDAEF7;
    box-shadow: 
        inset 0px 11px 0px 0px #E9C3FF,
        inset 0px -11px 0px 0px #CD7BFB; 
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 20px;
    border: #f1baff solid;
}
.container_lobby .right p {
    margin: 0px;
}
.container_lobby #pfp-card>img {
    border-radius: 50%;
    border: #E9C3FF solid 9px;
    position: absolute;
    width: 120px;
    top: -90px;
}


.container_lobby .news {
    margin-top: 20px;
    border-radius: 40px;
    border: #f1baff solid;
    width: 270px;
    height: 170px;
    background-color: #DDAEF7;
    box-shadow: 
        inset 0px 11px 0px 0px #E9C3FF,
        inset 0px -11px 0px 0px #CD7BFB; 
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.container_lobby #level-line {
    margin-top: 5px;
    background-color: #6b307a;
    width: 200px;
    height: 20px;
    box-shadow: 0px 0px 10px 0px #701ACD inset;
    -webkit-box-shadow: 0px 0px 10px 0px #701ACD inset;
    -moz-box-shadow: 0px 0px 10px 0px #701ACD inset;
    border-radius: 50px;
    padding: 1px;
    display: flex;
    justify-content: flex-start;
}
.container_lobby #level-line-fill {
    width: 60%;
    height: 100%;
    background-color: #f8dcff;
    border-radius: 50px;
    background: linear-gradient(180deg, #7202EA 0%, #190430 100%);
}
/* ---------------------------- */
.container_lobby .onlineSection {
    position: absolute;
    transition: .5s;
    /* margin-top: 150vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_lobby .onlineSection>img {
    width: 500px;
}
.container_lobby .cards {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container_lobby .cards>a {
    text-decoration: none;
    font-size: 45px;
    width: 270px;
    height: 370px;
    display: flex;
    background-image: url(../image/online-card.png);
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    transition: .3s;
}
.container_lobby .cards>a p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    margin: 0px;
    color: #701ACD;
}
.container_lobby .cards>a>div {
    width: 100%;
    height: 70%;
}
.container_lobby .cards>a:hover {
    padding-bottom: 30px;
    filter: drop-shadow(0px 0px 80px rgba(255, 0, 221, 0.53));
}